body{
    background-color: #F2F7F2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Inter';
    src: url('Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.header{
    background-color: #8E5572;
    color: white;
    width: 100vw;
    height: 60px;;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    padding: 10px;
    padding-left: 75px;
    

}

.menu-links{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin-right: 5vw;
    border-radius: 5px;
    padding: 5px;
}

.menu-links:hover{
   animation-name: linkHover;
   animation-duration: 0.3s;
   animation-fill-mode: forwards;
    font-weight: 100;
}
@keyframes linkHover{
    0%{background-color: none;}
    100%{background-color: #F2F7F2; color: #8E5572}
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 40px;
}

.bodysection{
    background-color: white;
    width: 80vw;
    min-height: 850px;
    box-shadow: 0px 0px 500px 10px #a6839f;
    color: rgb(51, 51, 51);
    padding-top: 90px;
    padding: 20px;
}

#home.bodysection{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}



#people-container {
    display: grid;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));
    grid-gap: 0px;
  }

#home{
    display: block;
}

#about{
    display: none;
}
#profile{
    display: none;
    padding-top: 7-px;
}
.footer{
    font-family: "Inter";
    background-color: #8E5572;
    height: 100px;
    color: white;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.github-link{
    padding-left: 15px;
    padding-right: 8px;
}
.dotSpan{
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 17px;
    margin-right: 10px;
}

.person-div{
    font-family: 'Inter';
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    height: 40px;
}

.person-div:hover{
    background-color: rgb(212, 247, 255) ;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.person-div.leave{
    animation-name:leave;
    animation-duration: 0.8s;
    
}

@keyframes leave{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#edit-icon{
    position: relative;
    margin-top: 20px; /* adjust the margin value as needed */
    float: left;
    order: 3;
  }

#edit-icon:hover{
    background-color: rgb(255, 190, 213);
    border-radius: 400px;
}

#new-person-menu{
    font-family: "Inter";
    padding: 30px;
    padding-bottom: 50px;
    position: absolute;
    width: 300px;
    height: 300px;
    right: -600px;
    top: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
    flex-direction: column;
    display: none;
    transform: translateX(100%);
    transition: right 0.3s east-out;
    border-radius: 3px;
}

.submit-button{
    width: 100px;
}

.submit-button:hover{
    background-color: rgb(255, 190, 213);
    border: none;
}

.submit-button:focus{
    border: 2px black solid;
}

@keyframes comeIn{
    0%{ right: -600px;}
    100%{ right: 400px;}
}


#new-person-menu.show{
    position: fixed;
    display: inline;
    animation-name: comeIn;
    animation-duration: .8s;
    right: 400px;
}

.name-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

#exit-button:hover{
    background-color: rgb(255, 190, 213);
    border-radius: 10px;
}

input{
    background-color: rgb(224, 224, 224);
    height: 30px;
    border-radius: 2px;
    border: none;
}

input:focus{
    border: 2px solid black;
}

#about{
    font-family: 'Inter';
    color: rgb(44, 44, 44);
    padding: 20px;
    padding-top: 70px;
}

#couple-image{
    float: right;
    right: 200px;
    border-radius: 5px;
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 5;
}

#home{
    padding-top: 70px;
}

.logo-and-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.nav{
    display: flex;
    flex-direction: row;
}

.logo{
    transform: rotate(25deg); 
}

#about-link, #profile-link{
    font-weight: 100;
    font-size: 30px;
}

#profile-image{
    border-radius: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 30px;
}

#profile-head{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    padding-bottom: 20px;
}

#profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name{
    font-size: 40px;
    font-weight: 1000;
    padding-bottom: 10px;
    padding-top: 18px;
}

.age-and-location{
    font-size: 20px;
}

#profile-about-container{
font-family: "Inter";
padding: 10px;
padding-left: 0px;
}
hr{
    margin: 10px;
    margin-top: 40px;
}


#profile-interests-container{
    font-family: "Inter";
    padding-bottom: 10px;
}

li{
    padding-bottom: 7px;
}

.close-button{
    background-color: rgb(255, 116, 116);
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    margin-left: 8px;
    color: white;
}

.close-button:hover{
    background-color:rgb(255, 69, 69);
    border: 2px solid rgb(153, 57, 57)
}

#about-dot-page{
    font-family: 'Inter';
    padding: 10px;
    font-size: 1.2em;
}

a{
    color: lightblue;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    float: right;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8b85a2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #422836;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #422836;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #hamburger-menu{
    display: none;
    padding: 10px;
    padding-right: 20px;
  }

  .mobile-links{
    display: none;
  }

  #switch{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .toggle-header{
    font-family: "Inter";
    font-size: 2vw;
   
  }

  .youtube-links{
    width: 50vw;
    height: 30vh;
  }
  img#couple-picture-main{
    padding: 10px;
    max-width: 400px;
    border-radius: 15px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .about-n-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media(max-width: 768px){
    
    #home.bodysection{
        flex-direction: column;
        align-items: stretch;
    }
    #hamburger-menu{
        display: block;
    }
    .mobile-links{
        display: none;
    }
    .nav{
        display: none;
    }

    @keyframes menuComeIn{
     0%{top: -100px}
     100%{top: 80px}
    }
    .mobile-links.active{
        animation-name: menuComeIn;
        animation-duration: .4s;
        display: block;
        height: 100px;
        background-color: white;
        color: black;
        position: fixed;
        top: 80px;
        border:rgb(44, 44, 44);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    #about-mobile-link{
        font-family: 'Inter';
        color: white;
        background-color:#b87095;
        font-size: 30px;
        width: 100vw;
        align-content: center;
        height: 60px;
        text-align: center;
        padding: 5px;
    }
    #profile-mobile-link{
        font-family: 'Inter';
        color: white;
        padding: 5px;
        font-size: 30px;
        background-color:#dd8ab5;
        width: 100vw;
        height: 60px;
        text-align: center;
    }


    @keyframes profileLinkHover{
        0%{}
        100%{background-color: white;
            color:#dd8ab5}
    }
    #profile-mobile-link:hover{
        animation-name: profileLinkHover;
        animation-fill-mode: forwards;
        animation-duration: .3s;
    }

    @keyframes aboutLinkHover{
        0%{}
        100%{background-color: white;
            color:#b87095}
    }
    #about-mobile-link:hover{
        animation-name: aboutLinkHover;
        animation-fill-mode: forwards;
        animation-duration: .3s;
    }
    .youtube-links{
        width: 45vw;
        height: 40vh;
      }

   

    @media(max-width: 400px){
        img#couple-picture-main{
            padding: 10px;
            max-width: 200px;
            border-radius: 15px;
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
          }
        .youtube-links{
            width: 55vw;
            height: 20vh;
          }
        #home-link{
           font-size: 35px;
        }
        #logo{
            width: 40px;
            height: 40px;
        }
        #hamburger-menu{
            width: 45px;
            height: 45px;
            padding-left: 10px;
        }
        .header{
            padding: 14px;
            width: max-content;
        }
        #couple-image{
            width: 150px;
            height: 100px;
        }
        .header{
            justify-content: space-around;
        }
    }
    }

    